@font-face {
  font-family: "Almendra SC";
  src: url(./fuentes/AlmendraSC-Regular.ttf);
}

.contenedor_edificios {
  background-image: url("../imagenes/mercado.webp");
  position: absolute;
  width: 375px;
  height: 667px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  z-index: -1;
  font-family: "Almendra SC";
}

.contenedor_tabla {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 60%;
}

.tabla_edificios {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0 10px; 


}


.tabla_edificios img {
  max-width: 30px;
  max-height: 20px;
 
}

.coste {
  background-color:  rgb(253, 242, 221);
  font-size: 18px;
  width: 160px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgb(81, 60, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  gap: 4px;
  margin-top: 1.5px;
 


}

.boton_edificio {
  font-size: 18px;
  color: gold;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 1), 5px 5px 7px rgba(0, 0, 0, 0.8);
  background-color: rgb(39, 37, 30);
  box-shadow: 0px 0px 10px 2px rgb(81, 60, 0);
  width: 130px;
  height: 45px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}



.titulo img {
  width: 100%;
  height: auto;
  max-height: 250px;
  filter: drop-shadow(5px 5px 5px rgb(81, 60, 0));
  position: relative;
}


.volver img {
  width: 40px;
  background-color: rgb(223, 229, 234);
  border-radius: 50%;
  padding: 10px;
  margin-top: 40%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(5px 5px 5px rgb(81, 60, 0));
  z-index: 1;
  position:absolute;
  transition: 0.3s ease;

 
}

.volver img:hover{
  transform: translateX(-50%) scale(1.1);
  cursor: pointer;
  
}
